a {
    text-decoration: none;
    color: black;
}

.contact-section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    height: 60%;
    padding-top: 40px;
}

.contact-container {
    flex: 0 0 auto;
}

.contact-container > img {
    display: inline-block;
}

.contact-container > .contact-info {
    display: inline-block;
}

.contact-company-info {
    padding-top: 20px;
    height: 30%;
}

@media all and (max-width: 480px) {
    .contact-section {
        flex-direction: column;
    }
}