.archive-container {
  width: 100%;
  height: 100%;
  overflow-y: auto; }
  .archive-container .archive-image-container {
    width: 100%;
    column-gap: 20px;
    padding-bottom: 50px; }
  .archive-container .archive-image {
    break-inside: avoid-column;
    margin-bottom: 20px; }
    .archive-container .archive-image img {
      width: 100% !important;
      height: auto !important; }

@media all and (min-width: 1201px) {
  .archive-image-container {
    column-count: 5; } }

@media all and (max-width: 1200px) {
  .archive-image-container {
    column-count: 4; } }

@media all and (max-width: 1000px) {
  .archive-image-container {
    column-count: 3; } }

@media all and (max-width: 800px) {
  .archive-image-container {
    column-count: 2; } }

@media all and (max-width: 400px) {
  .archive-image-container {
    column-count: 1; } }
