@font-face {
  font-family: "Louize Display";
  src: url("//db.onlinewebfonts.com/t/1bdad24b22e34e9602883f76332345e6.eot");
  src: url("//db.onlinewebfonts.com/t/1bdad24b22e34e9602883f76332345e6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1bdad24b22e34e9602883f76332345e6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1bdad24b22e34e9602883f76332345e6.woff") format("woff"), url("//db.onlinewebfonts.com/t/1bdad24b22e34e9602883f76332345e6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1bdad24b22e34e9602883f76332345e6.svg#Louize Display") format("svg"); }

@font-face {
  font-family: "Louize";
  src: url("//db.onlinewebfonts.com/t/df180f85d58e18017bf4cfa28468be6b.eot");
  src: url("//db.onlinewebfonts.com/t/df180f85d58e18017bf4cfa28468be6b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/df180f85d58e18017bf4cfa28468be6b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/df180f85d58e18017bf4cfa28468be6b.woff") format("woff"), url("//db.onlinewebfonts.com/t/df180f85d58e18017bf4cfa28468be6b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/df180f85d58e18017bf4cfa28468be6b.svg#Louize") format("svg"); }

html, body, div, span, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, main, nav, ins {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%; }

header, footer {
  z-index: 1000; }

html {
  height: 100%; }

body {
  height: 100%;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none;
  color: black; }

.content {
  flex: 1 0 auto; }

header {
  height: 40px;
  text-align: center;
  cursor: pointer;
  padding-top: 20px;
  font-size: 18px;
  border-bottom: 1px solid black;
  font-family: "HelveticaNeue-Roman", Helvetica, Arial, sans-serif; }

.menu-text {
  font-family: "HelveticaNeue-Roman", Helvetica, Arial, sans-serif;
  font-size: 10pt; }

.credit-text {
  /* used for works and runaway credits */
  font-family: "Louize";
  font-size: 11zpt;
  font-style: italic; }

.caption-text {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 150;
  font-size: 9pt; }

.body-text {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 150;
  font-size: 11pt;
  text-justify: inter-word;
  letter-spacing: 2px; }

footer {
  border-top: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-shrink: 0; }

.menu-item {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px; }

.menu-item:first-of-type {
  margin-left: 10px; }

.menu-item:last-of-type {
  margin-right: 10px; }

.menu-item a {
  color: black;
  text-decoration: none; }

.menu-item-active {
  border: 1px solid black;
  border-radius: 10px; }

@media all and (min-width: 600px) {
  .sideways {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    height: 100%; } }
