.vert-scroll-4x4-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%; }

.outer-grid-wrapper {
  min-height: 50%;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.grid-runway-caption {
  padding: 5px;
  background-color: white;
  position: absolute;
  left: 0;
  text-align: center; }

/* Safari 10.1+ (alternate method) */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .grid-runway-caption {
      left: -10px; } } }

@media all and (max-width: 600px) {
  .outer-grid-wrapper {
    flex-basis: 100%; }
  .grid-runway-caption {
    width: 100%;
    text-align: left;
    padding-left: 20px; } }
