.archive-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto; }
  .archive-container .regular-scroll {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .archive-container .archive-caption {
    display: block;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 100%; }
  .archive-container .archive-image {
    display: inline-block;
    padding-bottom: 10px;
    max-height: 50vh; }

@media all and (max-width: 600px) {
  .archive-container {
    overflow-x: hidden; }
    .archive-container .archive-caption {
      padding-left: 20px;
      padding-right: 20px; }
    .archive-container .regular-scroll {
      padding: 0;
      display: block;
      width: 100%; }
      .archive-container .regular-scroll .archive-image {
        width: 100%;
        max-height: none; } }
