.parent-horizontal-flex {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  align-items: flex-start; }

.pad-sideways {
  margin-bottom: 60px; }

.pad-name {
  margin-bottom: 30px; }

@media all and (min-width: 601px) {
  .parent-horizontal-flex a {
    height: 100%;
    padding-right: 40px;
    position: relative; }
  .full-height-image {
    display: inline-block;
    width: auto;
    height: 100%;
    max-height: 100vh; }
  .pad-credit-text {
    display: inline-block;
    margin-top: -40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 10px; } }

@media all and (max-width: 600px) {
  .parent-horizontal-flex {
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column; }
    .parent-horizontal-flex a {
      display: inline-block; }
    .parent-horizontal-flex .full-height-image {
      display: inline-block;
      height: auto;
      width: 100%;
      max-width: 100%; }
    .parent-horizontal-flex .credit-text {
      padding: 5px 20px;
      margin-top: 0px; } }
