.third-grid {
  width: 33vw;
  height: 100%;
  background-image: url("https://picsum.photos/600/900");
  padding-right: 15px;
  display: inline-block; }

.third-grid:first-child {
  background-image: none; }

@media all and (max-width: 480px) {
  .third-grid {
    width: 100vw;
    padding: 0; }
  .third-grid:first-child {
    display: none; } }
