.contact-section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    height: 60%;
    padding: 40px;
}

.contact-container {
    flex: 0 0 auto;
}

.contact-container > img {
    display: inline-block;
    max-height: 380px;
    max-width: 100%;
}

.contact-container > .contact-info {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

.contact-company-info {
    padding-left: 40px;
    padding-top: 20px;
    height: 30%;
}

@media all and (max-width: 600px) {
    .contact-section {
        padding-left: 20px;
        flex-direction: column;
    }

    .contact-company-info {
        padding-left: 20px;
    }

    .contact-container > .contact-info {
        padding-left: 0px;

        padding-bottom: 20px;
        padding-top: 10px;
    }
}