.runway-highlight-name {
    a {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.horiz-parent {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
}

@media all and (min-width: 601px) {
    .horiz-scroll-full-height {
        height: 100%;
        overflow-y: hidden;
        width: max-content;
    }
    
    .runway-highlight-name {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 30px;
        background-color: white;
    
        div {
            padding-bottom: 50px;
            margin-right: 50px;
       }
    
        a {
            position: absolute;
            top: 250px;
            bottom: 0;
            width: 100%;
            text-align: center;
            font-size: 20px;
        }
    }
    .runway-hightlight-image {
        display: inline;
    }
}

@media all and (max-width: 600px) {
    .horiz-parent {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .runway-highlight-name {
        padding: 20px;
        width: 100%;

        div {
            display: inline-block;
            padding-right: 50px;
        }

        .pad-sideways {
            display: inline;
            margin: 0;
        }

        a {
            position: absolute;
            right: 20px;
        }
    }

}